## References
https://github.com/cloud36/uplift_modeling_criteo

In [1]:
import pandas as pd

In [2]:
df = pd.read_stata("/home/dtd/Downloads/nsw.dta")

In [3]:
df.head()

,data_id,treat,age,education,black,hispanic,married,nodegree,re75,re78
0,Lalonde Sample,1,37,11,1,0,1,1,0.0,9930.045898
1,Lalonde Sample,1,22,9,0,1,0,1,0.0,3595.894043
2,Lalonde Sample,1,30,12,1,0,0,0,0.0,24909.449219
3,Lalonde Sample,1,27,11,1,0,0,1,0.0,7506.145996
4,Lalonde Sample,1,33,8,1,0,0,1,0.0,289.789886

In [4]:
df.treat.value_counts()

0    425
1    297
Name: treat, dtype: int64